* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --black: #191919;
    --silver: #D8D8D8;
    --white: #FFFFFF;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.header-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-top: 0;
    margin-bottom: 5rem;
    height: 100vh; 
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    margin-right: 10px;
    margin-bottom: 10px;
}

.cta-button {
    padding: 10px 20px;
    border: 1px ridge #191919;
    background-color: transparent;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.4s, color 0.3s;
    color: var(--black);
}

.cta-button:hover {
    background-color: var(--black);
    color: var(--white);
}

.main {
    text-align: center;
    margin-top: 50px;
}

h1 {
    font-size: 48px;
    font-style: oblique;
    margin-bottom: 20px;
    font-weight: bold;
    color: var(--black);
}

.images {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.images img {
    max-width: 200px;
    height: auto;
    margin: 0 10px;
    border-radius: 10px;
}

.about-section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 40px;
    box-sizing: border-box;
    background: var(--black);

}

.content {
    max-width: 1200px;
    text-align: left;
    color: #ffffff;
}

h2 {
    font-size: 48px;
    margin-bottom: 20px;
    font-weight: normal;
}

h2 .highlight {
    font-weight: bold;
    font-style: italic;
}

.about-description {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.about-text {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
}

.about-image-text {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
}

.about-image {
    flex: 1;
    min-width: 300px;
    max-width: 50%;
    text-align: center;
}

.about-image img {
    width: 100%;
    border-radius: 10px;
}

.about-image-text .about-text {
    flex: 1;
    min-width: 300px;
    max-width: 50%;
}

.work-section {
    padding: 40px;
    box-sizing: border-box;
    text-align: center;
}

.work-header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 40px;
    color: var(--black);
}

h3 {
    font-size: 48px;
    font-weight: normal;
    margin-bottom: 10px;
}

h3 .highlight {
    font-weight: bold;
    font-style: italic;
}

.arrow {
    font-size: 48px;
    transform: rotate(0deg);
}

.work-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 20px;
}

.work-gallery img {
    width: 100%;
    border-radius: 10px;
}

.schematic-container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.intro-schematiq {
    text-align: left;
    margin-bottom: 40px;
}

.intro h1 {
    font-size: 48px;
    margin: 0;
}

.tag {
    display: inline-block;
    border: 1px solid #000;
    padding: 5px 10px;
    margin-top: 10px;
    font-size: 16px;
    border-radius: 15px;
}

.schematiq-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section {
    max-width: 600px;
    margin: 0 50px 40px 90px;
}

.section h2 {
    font-size: 36px;
    margin: 0 0 10px;
}

.section p {
    font-size: 18px;
    line-height: 1.5;
    margin-left: 20px;
    width: 450px;
}

.devices {
    display: flex;
    align-items: center;
    justify-content: center;
}

.devices img {
    max-width: 100%;
    width: 45vw;
    height: auto;
    margin: 0 60px 0 25px;
}

.range {
    width: 100%;
}

.img-sec {
    max-width: 100%;
    width: 70%;
    margin: auto;
    text-align: center;
}

.img-sec img, .img-sec video {
    display: inline;
    width: 300px;
    height: 370px;
    padding: 20px;
    margin-top: 3rem;
    margin-bottom: 6rem;
}

.triangle {
    width: 0px;
    height: 0px;
    border-top: 29px solid #191919;
    border-left: 29px solid transparent;
    border-right: 29px solid #191919;
    border-bottom: 29px solid transparent;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

/* Lightbox Styles */
#lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.4s;
}

#lightbox.active {
    opacity: 1;
    pointer-events: auto;
}

#lightbox img {
    max-width: 90%;
    max-height: 80%;
    border: 5px solid white;
}


/* Reveal on Scroll Styles */
.reveal {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.reveal.active {
    opacity: 1;
    transform: translateY(0);
    animation: fadeIn 1s ease-out, slideIn 1s ease-out;
}
/* Fade-in and Slide-in Animations */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        transform: translateY(20px);
    }
    to {
        transform: translateY(0);
    }
}



.iconography-container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    display: flex;
    align-items: center;
}

.inform {
    text-align: left;
    margin-bottom: 40px;
    width: 100%;
}

.inform h1 {
    font-size: 48px;
    margin: 0;
    line-height: 1.2;
}

.tags {
    display: inline-block;
    border: 1px solid #000;
    padding: 5px 10px;
    margin-top: 10px;
    font-size: 16px;
    border-radius: 15px;
}

.iconography-content {
    display: flex;
    align-items: flex-start;
    width: 100%;
}

.iconography-section {
    max-width: 600px;
    margin-bottom: 40px;
}

.iconography-section h2 {
    font-size: 36px;
    margin: 0 0 10px;
}

.iconography-section p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 5rem;
}

.imaging {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.imaging video {
    width: 100%;
    max-width: 600px;
    height: auto;
    object-fit: cover;
    margin: 0 50px;
}

.imaging video.vid-one {
    width: 300px;
    height: 250px;
    margin-left: 200px;
}

.imaging video.vid-two {
    width: 400px;
    height: 300px;
    text-align: right;
}

.video-sec {
    max-width: 1000px;
    margin: auto;
}

.video video {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: auto 5rem 5rem auto;
}

.desktop-container {
    max-width: 1200px;
    margin: 5rem auto auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sprig {
    text-align: left;
    margin-bottom: 40px;
    width: 100%;
}

.sprig h1 {
    font-size: 48px;
    margin: 0;
    line-height: 1.2;
}

.web {
    display: inline-block;
    border: 1px solid #000;
    padding: 5px 10px;
    margin-top: 10px;
    font-size: 16px;
    border-radius: 15px;
}

.desktop-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.text-section {
    max-width: 600px;
}

.sect{
    margin-bottom: 40px;
}

.sect h2 {
    font-size: 36px;
    margin: 0 0 10px;
}

.sect p {
    font-size: 18px;
    line-height: 1.5;
}

.image-section {
    max-width: 600px;
    margin-top: 0;
}

.image-section img {
    width: 100%;
    height: auto;
}

.poster-section {
    max-width: 1200px;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 2rem auto;
}

.poster {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 3rem 3rem;
}

.flier {
    width: 300px;
    height: 500px;
}

.Brand-Portfolio {
    width: 500px;
    height: auto;
    padding: 10px;
}

.service-container {
    max-width: 1200px;
    margin: 7rem auto;
    padding: 20px;
    text-align: center;
}

.service-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
    text-align: left;
}

.service-header h1 {
    font-size: 48px;
    font-weight: normal;
    margin: 0;
    display: inline-block;
    position: relative;
}

.service-header h1 .highlight {
    font-style: italic;
}

.service-header p {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 40px;
}

.services {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    gap: 20px;
    position: relative;
    top: 3rem;
}

.service {
    border: 1px solid #000;
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 350px;
    box-sizing: border-box;
}

.service .arrow {
    margin-left: auto;
    font-size: 24px;
}

.awards-press {
    max-width: 100%;
    margin: 0;
    padding: 20px;
    background: var(--black);
    color: var(--white);
    background-size: cover;
}

.ap-header {
    text-align: left;
    margin-bottom: 40px;
    margin-left: 20px;
    padding: 50px 30px;
}

.ap-header h1 {
    color: var(--white);
    font-size: 60px;
    font-weight: normal;
    margin: 0;
}

.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    max-width: 1200px;
    margin: auto;
}

.article {
    border-radius: 10px;
    padding: 20px 60px;
    width: calc(25% - 20px);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}

.article img {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    margin-bottom: 15px;
}

.article .date {
    font-size: 14px;
    color: var(--white);
    margin-bottom: 10px;
}

.article .title {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
    color: var(--white);
    text-decoration: underline;
    cursor: pointer;
}

.clients-section {
    max-width: 100%;
    margin: 0 auto;
    padding: 40px;
    text-align: left;
    background: var(--white);
}

.clients-section h1 {
    font-size: 60px;
    font-weight: normal;
    margin-left: 2rem;
    margin-bottom: 20px;
}

.clients-section p {
    font-size: 18px;
    margin-left: 2rem;
    margin-bottom: 60px;
}

.clients-logos {
    display: grid;
    grid-template-columns: auto auto auto auto;
    row-gap: 3rem;
    column-gap: 4rem;
    justify-content: center;
    margin-top: 200px;
}

.client-logo img {
    max-height: 50px;
    max-width: 100%;
    object-fit: contain;
}

.client-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 250px;
}

.footer-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 80px;
    background-color: var(--black);
    color: var(--white);
}

.footer-left {
    max-width: 40%;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.logo span {
    font-weight: normal;
}

.footer-left h1 {
    font-size: 48px;
    font-weight: normal;
    margin: 0;
    margin-bottom: 20px;
}

.footer-left .cta-button {
    padding: 10px 20px;
    border: 2px solid #fff;
    background: none;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 30px;
    transition: background-color 0.3s ease;
}

.footer-left .cta-button:hover {
    background-color: #fff;
    color: #000;
}

.footer-right {
    text-align: right;
}

.contact-info p {
    margin: 5px 0;
    padding: 10px;
}

.social-icons a {
    margin: 0 10px;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}

.social-icons i {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    padding: 5px;
    color: var(--white);
    background-color: var(--silver);
}

@media (max-width: 1024px) {
    
    .images img {
        max-width: 150px;
    }

    .video-sec {
        max-width: 950px;
        margin: 20px;
        text-align: center;
    }
    
    .poster-section {
        max-width: 1000px;
    }
    
    .poster {
        width: 900px;
        height: auto;
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        margin: 40px 100px;
    }
    
    .flier {
        width: 300px;
        height: 400px;
    }
    
    .Brand-Portfolio {
        width: 500px;
        height: auto;
        padding: 10px;
    }

    .service-header {
        margin: auto 20px 40px;
        max-width: 100%;
    }
    
    .service {
        width: 300px;
    }

    .clients-section h1 {
        font-size: 5rem;
        font-weight: normal;
        margin-left: 1rem;
        margin-bottom: 20px;
    }

    .clients-section p {
        font-size: 1.5rem;
        margin-left: 1rem;
        margin-bottom: 60px;
    }



    .client-logo img {
        max-height: 50px;
        max-width: 100%;
        width: 250px;
        object-fit: contain;
    }

    .client-logo {
        display: block;
        align-items: center;
        justify-content: center;
        height: 100px;
        width: 100%;
    }
        
}

@media (max-width: 849px) {
    body {
        overflow-x: hidden;
    }

    .header-section {
        display: block; 
    }
    
    .images {
        display: flex;
        justify-content: space-around;
        margin-top: 20px;
    }
    
    .images img {
        max-width: 150px;
        height: auto;
        margin: 0 10px;
        border-radius: 10px;
    }
    
    .section {
        max-width: 100%;
        margin: 0 25px 40px 45px;
    }
    
    .section h2 {
        font-size: 18px;
        margin: 0 0 10px;
    }
    
    .section p {
        font-size: 13px;
        line-height: 1;
        margin-left: 10px;
        margin-bottom: 10px;
        width: 100%;
    }
    
    .devices img {
        max-width: 100%;
    }    

    .range {
        width: 100%;
    }
    
    .img-sec {
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 10px;
        justify-content: space-around;
        align-items: center;
        margin: 0 60px;
        text-align: center;
    }
    
    .img-sec img, .img-sec video {
        display: flex;
        width: 200px;
        height: 250px;
        padding: 5px;
        margin-top: 3rem;
        margin-bottom: 6rem;
    } 
    
    .iconography-container {
        max-width: 100%;
        margin: 20px;
        padding: 0;
        display: flex;
        align-items: center;
    }
    
    .inform {
        text-align: left;
        margin-bottom: 40px;
        width: 100%;
    }
    
    .inform h1 {
        font-size: 24px;
        margin: 0;
        line-height: 1.2;
    }
    
    .iconography-content {
        display: flex;
        align-items: flex-start;
        width: 100%;
    }
    
    .iconography-section {
        max-width: 100%;
        margin-bottom: 40px;
    }
    
    .iconography-section h2 {
        font-size: 16px;
        margin: 0 0 10px;
    }
    
    .iconography-section p {
        font-size: 12px;
        line-height: 1.5;
        margin-bottom: 5rem;
    }
    
    .imaging {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    
    .imaging video {
        width: 90%;
        max-width: 100%;
    }
    
    .imaging video.vid-one, .imaging video.vid-two {
        width: 100%;
        height: 180px;
        margin-left: 0;
        text-align: center;
    }

    .video-sec {
        max-width: 100%;
        margin: 20px;
    }
    
    .video video {
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        margin: auto 5rem 5rem auto;
    }

    .desktop-container {
        max-width: 100%;
    }
    
    .sprig h1 {
        font-size: 30px;
    }
    
    .desktop-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    
    .text-section {
        max-width: 90%;
    }
    
    .sect{
        margin-bottom: 40px;
    }
    
    .sect h2 {
        font-size: 29px;
    }
    
    .sect p {
        font-size: 15px;
    }
    
    .image-section {
        max-width: 100%;
    }
    
    .image-section img {
        width: 90%;
    }
    
    .poster-section {
        max-width: 90%;
    }
    
    .poster {
        width: 700px;
        height: auto;
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        margin: 25px;
    }
    
    .flier {
        width: 300px;
        height: 400px;
    }
    
    .Brand-Portfolio {
        width: 350px;
        height: auto;
        padding: 10px;
    }    

    .service-header {
        margin: auto 20px 40px;
        max-width: 100%;
    }
    
    .service {
        width: 200px;
    }    
}

@media (max-width: 747px) {
    body {
        overflow-x: hidden;
    }

    .header-section {
        display: block; 
    }
    
    .images {
        display: flex;
        justify-content: space-around;
        margin-top: 20px;
    }
    
    .images img {
        max-width: 150px;
        height: auto;
        margin: 0 10px;
        border-radius: 10px;
    }
    
    .section {
        max-width: 100%;
        margin: 0 25px 40px 45px;
    }
    
    .section h2 {
        font-size: 18px;
        margin: 0 0 10px;
    }
    
    .section p {
        font-size: 13px;
        line-height: 1;
        margin-left: 10px;
        margin-bottom: 10px;
        width: 100%;
    }
    
    .devices img {
        max-width: 100%;
    }    

    .range {
        width: 100%;
    }
    
    .img-sec {
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 10px;
        justify-content: space-around;
        align-items: center;
        margin: 0 60px;
        text-align: center;
    }
    
    .img-sec img, .img-sec video {
        display: flex;
        width: 200px;
        height: 250px;
        padding: 5px;
        margin-top: 3rem;
        margin-bottom: 6rem;
    } 
    
    .iconography-container {
        max-width: 100%;
        margin: 20px;
        padding: 0;
        display: flex;
        align-items: center;
    }
    
    .inform {
        text-align: left;
        margin-bottom: 40px;
        width: 100%;
    }
    
    .inform h1 {
        font-size: 24px;
        margin: 0;
        line-height: 1.2;
    }
    
    .iconography-content {
        display: flex;
        align-items: flex-start;
        width: 100%;
    }
    
    .iconography-section {
        max-width: 100%;
        margin-bottom: 40px;
    }
    
    .iconography-section h2 {
        font-size: 16px;
        margin: 0 0 10px;
    }
    
    .iconography-section p {
        font-size: 12px;
        line-height: 1.5;
        margin-bottom: 5rem;
    }
    
    .imaging {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    
    .imaging video {
        width: 90%;
        max-width: 100%;
    }
    
    .imaging video.vid-one, .imaging video.vid-two {
        width: 100%;
        height: 180px;
        margin-left: 0;
        text-align: center;
    }

    .video-sec {
        max-width: 100%;
        margin: 20px;
    }
    
    .video video {
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        margin: auto 5rem 5rem auto;
    }

    .desktop-container {
        max-width: 100%;
    }
    
    .sprig h1 {
        font-size: 30px;
    }
    
    .desktop-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    
    .text-section {
        max-width: 90%;
    }
    
    .sect{
        margin-bottom: 40px;
    }
    
    .sect h2 {
        font-size: 29px;
    }
    
    .sect p {
        font-size: 15px;
    }
    
    .image-section {
        max-width: 100%;
    }
    
    .image-section img {
        width: 90%;
    }
    
    .poster-section {
        max-width: 90%;
    }
    
    .poster {
        width: 700px;
        height: auto;
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        margin: 25px;
    }
    
    .flier {
        width: 300px;
        height: 400px;
    }
    
    .Brand-Portfolio {
        width: 350px;
        height: auto;
        padding: 10px;
    }    

    .service-header {
        margin: auto 20px 40px;
        max-width: 100%;
    }
    
    .service {
        width: 200px;
    }    
}

@media (max-width: 500px) {
    .header-section {
        display: block;
    }

    .main {
        text-align: center;
        margin-top: 50px;
    }

    h1 {
        font-size: 30px;
    }

    .images {
        display: block;
        text-align: center;
        row-gap: 10px;
    }

    .images img {
        max-width: 100px;
        height: auto;
        margin: 0 10px;
        border-radius: 10px;
    }

    .work-gallery {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
        gap: 20px;
    }

    .schematic-container {
        max-width: 100%;
        margin: 20px auto;
        padding: 20px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .schematiq-content {
        display: block;
        width: 100%
    }

    .section {
        max-width: 100%;
        margin: 3rem 20px;
    }

    .section p {
        padding-left: 10px;
        width: 250px;
        box-sizing: border-box;
    }

    .range {
        max-width: 100%;
        margin: 30px 0;
    }

    .img-sec {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      width: 100%;
      margin: auto;
    }

    .triangle {
        margin-bottom: 20px;
    }

    .iconography-container {
        max-width: 100;
        margin: 20px auto;
        padding: 20px;
        display: block;
        align-items: center;
        position: relative;

    }

    .inform {
        text-align: left;
        margin-bottom: 40px;
        width: 100%;
    }

    .inform h1 {
        font-size: 48px;
        margin: 0;
        line-height: 1.2;
    }

    .tags {
        display: inline-block;
        border: 1px solid #000;
        padding: 5px 10px;
        margin-top: 10px;
        font-size: 16px;
        border-radius: 15px;
    }

    .iconography-content {
        display: block;
        align-items: flex-start;
        width: 100%;
    }

    .iconography-section {
        max-width: 100%;
        margin-bottom: 40px;
    }

    .iconography-section h2 {
        font-size: 36px;
        margin: 0 0 10px;
    }

    .iconography-section p {
        font-size: 18px;
        line-height: 1.5;
        margin-bottom: 5rem;
    }

    .imaging {
        display: block;
        padding-bottom: 2rem;
        text-align: center;
    }

    .imaging video {
        width: 100%;
        max-width: 600px;
        height: auto;
        object-fit: cover;
        margin: auto;
    }

    .imaging video.vid-one {
        width: 250px;
        height: 200px;
        margin: 20px;
    }

    .imaging video.vid-two {
        width: 100%;
        height: 250px;
        text-align: center;
        margin: 0;
    }


    .video-sec {
        max-width: 100%;
    }

    .video video {
        padding: 20px;
        box-sizing: border-box;
    }

    .desktop-container {
        max-width: 100%;

        display: block;
        align-items: center;
    }


    .desktop-content {
        display: block;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .text-section {
        max-width: 100%;
    }


    .image-section {
        display: block;
        max-width: 100%;
        margin-top: 0;
    }

    .image-section img {
        width: 100%;
        height: auto;
    }

    .poster-section {
        max-width: 100%;
        text-align: center;
        display: block;
        justify-content: center;
        align-items: center;
        margin: 2rem auto;
    }

    .poster {
        width: 100%;
        height: auto;
        display: block;
        justify-content: center;
        align-items: center;
        margin: auto;
    }

    .flier {
        width: 300px;
        height: 500px;
    }

    .Brand-Portfolio {
        width: 100%;
        height: auto;
        padding: 10px;
    }

    .service-container {
        max-width: 100%;
        height: auto;
        margin: 2rem auto;
        padding-bottom: 4rem;
    }

    .service-header {
        display: block;
        justify-content: center;
        align-items: center;
    }

    .services {
        display: grid;
        grid-template-columns: auto auto;
        justify-content: center;
        gap: 10px;
        position: relative;
        top: 6rem;
        margin-bottom: 3rem;
    }

    .service {
        border: 1px solid #000;
        border-radius: 30px;
        padding: 10px 20px;
        font-size: 12px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        box-sizing: border-box;
    }

    .service .arrow {
        margin-left: auto;
        font-size: 24px;
    }

    .awards-press {
        max-width: 100%;
        margin: auto 0;
        padding: 30px;
    }

    .ap-header h1 {
        font-size: 30px;
        font-weight: normal;
        margin: 0;
    }

    .articles,
    .clients-logos {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
        gap: 20px;
    }

    .article {
        border-radius: 10px;
        padding: 20px 60px;
        width: 100%;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: left;
    }

    .article img {
        width: 150px;
        height: 150px;
        border-radius: 10px;
        margin-bottom: 15px;
    }

    .article .date {
        font-size: 7px;
        color: var(--white);
        margin-bottom: 10px;
    }

    .article .title {
        font-size: .8rem;
        font-weight: bold;
        margin: 0;
        color: var(--white);
        text-decoration: underline;
        cursor: pointer;
    }

    .clients-section h1 {
        font-size: 30px;
        font-weight: normal;
        margin-left: 1rem;
        margin-bottom: 20px;
    }

    .clients-section p {
        font-size: 11px;
        margin-left: 1rem;
        margin-bottom: 60px;
    }



    .client-logo img {
        max-height: 50px;
        max-width: 100%;
        width: 100px;
        object-fit: contain;
    }

    .client-logo {
        display: block;
        align-items: center;
        justify-content: center;
        height: 100px;
        width: 100%;
    }

    .footer-section {
        display: block;
        justify-content: space-around;
        align-items: center;
        padding: 40px;
    }

    .footer-left {
        max-width: 40%;
    }

    .logo {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: auto;
    }

    .logo span {
        font-weight: normal;
    }

    .footer-left h1 {
        font-size: 48px;
        font-weight: normal;
        margin: 0;
    }

    .footer-left .cta-button {
        padding: 10px 20px;
        border: 2px solid #fff;
        background: none;
        color: #fff;
        width: 150px;
        font-size: 12px;
        cursor: pointer;
        border-radius: 30px;
        transition: background-color 0.3s ease;
    }

    .footer-right {
        text-align: right;
        margin-top: 6rem;
    }

    .contact-info p {
        margin: 5px 0;

        padding: 10px;
    }



}

@media (max-width: 360px) {
    .header-section {
        display: block;
    }

    .main {
        text-align: center;
        margin-top: 50px;
    }

    h1 {
        font-size: 30px;
    }

    .images {
        display: block;
        text-align: center;
        row-gap: 10px;
    }

    .images img {
        max-width: 100px;
        height: auto;
        margin: 0 10px;
        border-radius: 10px;
    }

    .work-gallery {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
        gap: 20px;
    }

    .schematic-container {
        max-width: 100%;
        margin: 20px auto;
        padding: 20px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .schematiq-content {
        display: block;
        width: 100%
    }

    .section {
        max-width: 100%;
        margin: 3rem 20px;
    }

    .section p {
        padding-left: 10px;
        width: 250px;
        box-sizing: border-box;
    }

    .range {
        max-width: 100%;
        margin: 30px 0;
    }

    .img-sec {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      width: 100%;
      margin: auto;
    }


    .triangle {
        margin-bottom: 20px;
    }

    .iconography-container {
        max-width: 100;
        margin: 20px auto;
        padding: 20px;
        display: block;
        align-items: center;
        position: relative;

    }

    .inform {
        text-align: left;
        margin-bottom: 40px;
        width: 100%;
    }

    .inform h1 {
        font-size: 48px;
        margin: 0;
        line-height: 1.2;
    }

    .tags {
        display: inline-block;
        border: 1px solid #000;
        padding: 5px 10px;
        margin-top: 10px;
        font-size: 16px;
        border-radius: 15px;
    }

    .iconography-content {
        display: block;
        align-items: flex-start;
        width: 100%;
    }

    .iconography-section {
        max-width: 100%;
        margin-bottom: 40px;
    }

    .iconography-section h2 {
        font-size: 36px;
        margin: 0 0 10px;
    }

    .iconography-section p {
        font-size: 18px;
        line-height: 1.5;
        margin-bottom: 5rem;
    }

    .imaging {
        display: block;
        padding-bottom: 2rem;
        text-align: center;
    }

    .imaging video {
        width: 100%;
        max-width: 600px;
        height: auto;
        object-fit: cover;
        margin: auto;
    }

    .imaging video.vid-one {
        width: 250px;
        height: 200px;
        margin: 20px;
    }

    .imaging video.vid-two {
        width: 100%;
        height: 250px;
        text-align: center;
        margin: 0;
    }


    .video-sec {
        max-width: 100%;
    }

    .video video {
        padding: 20px;
        box-sizing: border-box;
    }

    .desktop-container {
        max-width: 100%;

        display: block;
        align-items: center;
    }


    .desktop-content {
        display: block;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .text-section {
        max-width: 100%;
    }


    .image-section {
        display: block;
        max-width: 100%;
        margin-top: 0;
    }

    .image-section img {
        width: 100%;
        height: auto;
    }

    .poster-section {
        max-width: 100%;
        text-align: center;
        display: block;
        justify-content: center;
        align-items: center;
        margin: 2rem auto;
    }

    .poster {
        width: 100%;
        height: auto;
        display: block;
        justify-content: center;
        align-items: center;
        margin: auto;
    }

    .flier {
        width: 300px;
        height: 500px;
    }

    .Brand-Portfolio {
        width: 100%;
        height: auto;
        padding: 10px;
    }

    .service-container {
        max-width: 100%;
        height: auto;
        margin: 2rem auto;
        padding-bottom: 4rem;
    }

    .service-header {
        display: block;
        justify-content: center;
        align-items: center;
    }

    .services {
        display: grid;
        grid-template-columns: auto auto;
        justify-content: center;
        gap: 10px;
        position: relative;
        top: 6rem;
        margin-bottom: 3rem;
    }

    .service {
        border: 1px solid #000;
        border-radius: 30px;
        padding: 10px 20px;
        font-size: 12px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        box-sizing: border-box;
    }

    .service .arrow {
        margin-left: auto;
        font-size: 24px;
    }

    .awards-press {
        max-width: 100%;
        margin: auto 0;
        padding: 30px;
    }

    .ap-header h1 {
        font-size: 30px;
        font-weight: normal;
        margin: 0;
    }

    .articles,
    .clients-logos {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
        gap: 20px;
    }

    .article {
        border-radius: 10px;
        padding: 20px 60px;
        width: 100%;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: left;
    }

    .article img {
        width: 150px;
        height: 150px;
        border-radius: 10px;
        margin-bottom: 15px;
    }

    .article .date {
        font-size: 7px;
        color: var(--white);
        margin-bottom: 10px;
    }

    .article .title {
        font-size: .8rem;
        font-weight: bold;
        margin: 0;
        color: var(--white);
        text-decoration: underline;
        cursor: pointer;
    }

    .clients-section h1 {
        font-size: 30px;
        font-weight: normal;
        margin-left: 1rem;
        margin-bottom: 20px;
    }

    .clients-section p {
        font-size: 11px;
        margin-left: 1rem;
        margin-bottom: 60px;
    }



    .client-logo img {
        max-height: 50px;
        max-width: 100%;
        width: 100px;
        object-fit: contain;
    }

    .client-logo {
        display: block;
        align-items: center;
        justify-content: center;
        height: 100px;
        width: 100%;
    }

    .footer-section {
        display: block;
        justify-content: space-around;
        align-items: center;
        padding: 40px;
    }

    .footer-left {
        max-width: 40%;
    }

    .logo {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: auto;
    }

    .logo span {
        font-weight: normal;
    }

    .footer-left h1 {
        font-size: 48px;
        font-weight: normal;
        margin: 0;
    }

    .footer-left .cta-button {
        padding: 10px 20px;
        border: 2px solid #fff;
        background: none;
        color: #fff;
        width: 150px;
        font-size: 12px;
        cursor: pointer;
        border-radius: 30px;
        transition: background-color 0.3s ease;
    }

    .footer-right {
        text-align: right;
        margin-top: 6rem;
    }

    .contact-info p {
        margin: 5px 0;

        padding: 10px;
    }
}
